  /* --------------------------------------- */
    /* ----- Footer ----- */
    /* --------------------------------------- */
    nav {
        display: flex;
        justify-content: space-between;
        padding: var(--gutter-normal) 0;
        border-top: solid 5px #000000;
    }
    .footer {
        text-align: center;
        padding: var(--gutter-medium) 0 var(--gutter-normal);
    }
    
    @media(max-width: 500px) {
        .footer {
            padding: var(--gutter-medium) 0;
        }
    }
    .flex-wrapper {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
      }