:root { 
  --alabaster: #fafafa;
  --alizarin-crimson: #e62834;
  --black: #000000;
  --cod-gray: #0a0a0a;
  --confetti: #e7d451;
  --denim: #2a87c3;
  --dove-gray: #707070;
  --mystic: #e2e7ea;
  --pacific-blue: #2da9ce;
  --raw-sienna: #d18a48;
  --white: #ffffff;
 
  --font-size-l: 60px;
  --font-size-m: 52px;
  --font-size-s: 50px;
  --font-size-xl: 80px;
  --font-size-xs: 37px;
  --font-size-xxs: 35px;
  --font-size-xxxs: 31px;
 
  --font-family-helvetica_neue: "Helvetica Neue", Helvetica;
  --font-family-helveticaneue-bold: "HelveticaNeue-Bold", Helvetica;
  --font-family-helveticaneue-bolditalic: "HelveticaNeue-BoldItalic", Helvetica;
  --font-family-helveticaneue-condensedbold: "HelveticaNeue-CondensedBold", Helvetica;
  --font-family-helveticaneue-lightitalic: "HelveticaNeue-LightItalic", Helvetica;
  --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
}
